<strong class="d-inline-block mb-2 text-primary">Post #<%= post_index %></strong>
<h3 class="mb-0"><%= post.title %></h3>
<p class="card-text mb-auto"><%= post.text %></p>
<p class="text-end">comments:  <%= post.comments_counter %> , likes:  <%= post.likes_counter %> </p>
