<% @posts.each do |post| %>
<ul class="main-container">
 <li class="blog">
      <a href="<%= user_post_path(post.author_id, post.id) %>" class="blog">
        <h2><%= post.title %> by <%= User.find(post.author_id).name %></h2>
        <p><%= post.text %></p>
        <div class="features-lastpage">
        <span>Comments: <%= post.comments.length %></span>
        <span>Likes: <%= post.likes.length %></span>
        </div>
      </a>
    </li>
    </ul>

    <ul class="comments">
      <% unless post.comments.any? %>
        <h2>There are no comments to show.</h2>
      <% end %>
      <% post.comments.each do |comment| %>
        <li >
          <span><%= User.find(comment.user_id).name %>:</span>
          <span><%= comment.text %></span>
        </li>
      <% end %>
    </ul>
  <% end %>
  